<header>		<div data-elementor-type="wp-post" data-elementor-id="33" class="elementor elementor-33">
    <div class="elementor-inner">
<div class="elementor-section-wrap">
                <section class="elementor-section elementor-top-section elementor-element elementor-element-f347f27 elementor-section-full_width header-layout1 elementor-section-height-default elementor-section-height-default" data-id="f347f27" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-row">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9371fd7" data-id="9371fd7" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
    <section class="elementor-section elementor-inner-section elementor-element elementor-element-88940f3 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="88940f3" data-element_type="section">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-row">
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-c02df3c" data-id="c02df3c" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-0d88e3c elementor-widget elementor-widget-text-editor" data-id="0d88e3c" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
            <div class="elementor-text-editor elementor-clearfix">
<p style="color: white; font-size: 18px; font-weight: 400;" 
class="header-text"><span class="fw-medium">Now Hiring:</span> Are you a driven and motivated 1st Line IT Support Engineer?</p>					</div>
    </div>
</div>
    </div>
</div>
</div>
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-2fa95a3" data-id="2fa95a3" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-def79ee elementor-widget elementor-widget-text-editor" data-id="def79ee" data-element_type="widget" data-widget_type="text-editor.default">
<div style="font-size: 18px;" class="elementor-widget-container">
            <div class="elementor-text-editor elementor-clearfix">
<p style="color: white;" class="header-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock me-2 mb-1" viewBox="0 0 16 16">
    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
  </svg>Office Hours: 08:00am-6:00pm</p>					</div>
    </div>
</div>
    </div>
</div>
</div>
            </div>
</div>
</section>
    </div>
</div>
</div>
            </div>
</div>
</section>
<section class="elementor-section elementor-top-section elementor-element elementor-element-bde0637 elementor-section-full_width elementor-section-content-middle elementor-section-height-default elementor-section-height-default" data-id="bde0637" data-element_type="section">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-row">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ccf8785" data-id="ccf8785" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
    <section class="elementor-section elementor-inner-section elementor-element elementor-element-7491827 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7491827" data-element_type="section">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-row">
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-ae8389b" data-id="ae8389b" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-0676439 vs-logo elementor-widget elementor-widget-image" data-id="0676439" data-element_type="widget" data-widget_type="image.default">
<div class="elementor-widget-container">
            <div class="elementor-image">
                                <a href="https://themeforest.vecuro.com/wordpress/techbiz/">
        <img width="259" height="67" src="https://themeforest.vecuro.com/wordpress/techbiz/wp-content/uploads/2022/09/logo5.svg" class="attachment-full size-full" alt="" loading="lazy" />								</a>
                                    </div>
    </div>
</div>
    </div>
</div>
</div>
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-c68fb9a" data-id="c68fb9a" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-f35341f elementor-widget__width-auto elementor-widget elementor-widget-text-editor" data-id="f35341f" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
            <div class="elementor-text-editor elementor-clearfix">
<div class="header-info-area d-flex align-items-center"><div class="header-info_icon"><svg style="color: rgba(21, 21, 252, 0.849);" xmlns="http://www.w3.org/2000/svg" width="27" height="32" fill="currentColor" class="bi bi-telephone-fill mb-1" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
  </svg></div>
    <div class="media-body">
        <span style="font-size: 17px;" class="header-info_label">Call Anytime 24/7</span>
        <div style="font-size: 27px;" class="header-info_link"><a href="tel:+26921562148">(+269) 2156 2148</a></div>
    </div>
</div>					</div>
    </div>
</div>
<div class="elementor-element elementor-element-9fecae7 elementor-widget__width-auto d-none d-lg-block elementor-widget elementor-widget-text-editor" data-id="9fecae7" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
            <div class="elementor-text-editor elementor-clearfix">
<div class="header-info-area d-none d-lg-flex align-items-center"><div class="header-info_icon"><svg style="color: rgba(21, 21, 252, 0.849);" xmlns="http://www.w3.org/2000/svg" width="27" height="32" fill="currentColor" class="bi bi-envelope-fill mb-1" viewBox="0 0 16 16">
    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
  </svg></div>
    <div class="media-body">
        <span style="font-size: 17px;" class="header-info_label">Mail Us For Support</span>
        <div style="font-size: 27px;" class="header-info_link"><a href="mailto:info@TechBiz.com">info@TechBiz.com</a></div>
    </div>
</div>					</div>
    </div>
</div>
<div class="elementor-element elementor-element-80c6bca elementor-widget__width-auto d-none d-xl-block elementor-widget elementor-widget-text-editor" data-id="80c6bca" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
            <div class="elementor-text-editor elementor-clearfix">
<div class="header-info-area d-none d-xl-flex align-items-center">
<div class="header-info_icon"><svg style="color: rgba(21, 21, 252, 0.849);" xmlns="http://www.w3.org/2000/svg" width="27" height="32" fill="currentColor" class="bi bi-geo-alt-fill mb-1" viewBox="0 0 16 16">
    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
  </svg></div>
    <div class="media-body">
        <span style="font-size: 17px;" class="header-info_label">Office Address</span>
        <div style="font-size: 27px;" class="header-info_link">259 HGS, Hotland, USA</div>
    </div>
</div>					</div>
    </div>
</div>
    </div>
</div>
</div>
            </div>
</div>
</section>
    </div>
</div>
</div>
            </div>
</div>
</section>
<section class="elementor-section elementor-top-section elementor-element elementor-element-a023999 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="a023999" data-element_type="section">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-row">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8d42439" data-id="8d42439" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
    <section class="elementor-section elementor-inner-section elementor-element elementor-element-26ce107 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="26ce107" data-element_type="section">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-row">
<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-6b6c161" data-id="6b6c161" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
            </div>
</div>
</div>
            </div>
</div>
</section>
<section class="elementor-section elementor-inner-section elementor-element elementor-element-dfee758 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="dfee758" data-element_type="section">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-row">
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-e92ee2d" data-id="e92ee2d" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-70164e8 elementor-widget elementor-widget-techbizmegamenu" data-id="70164e8" data-element_type="widget" data-widget_type="techbizmegamenu.default">
<div class="elementor-widget-container">
<nav class="main-menu menu-style1 d-none d-lg-block">
    <ul id="menu-primary-menu" class=""><li id="menu-item-101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-61 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-101"><a href="#" aria-current="page">Home</a>
<ul style="background-color: white;" class="sub-menu">
<li id="menu-item-100" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-61 current_page_item menu-item-100"><a href="https://themeforest.vecuro.com/wordpress/techbiz/" aria-current="page">Home One</a></li>
<li id="menu-item-99" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-99"><a href="https://themeforest.vecuro.com/wordpress/techbiz/home-two/">Home Two</a></li>
<li id="menu-item-98" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-98"><a href="https://themeforest.vecuro.com/wordpress/techbiz/home-three/">Home Three</a></li>
</ul>
</li><svg style="margin-left: -10;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
  </svg>
<li id="menu-item-97" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-97"><a routerLink="/about">About Us</a></li>
<li id="menu-item-96" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-96"><a href="https://themeforest.vecuro.com/wordpress/techbiz/service/">Service</a>
<ul style="background-color: white;" class="sub-menu">
<li id="menu-item-102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-102"><a href="https://themeforest.vecuro.com/wordpress/techbiz/service/">Service</a></li>
<li id="menu-item-95" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-95"><a href="https://themeforest.vecuro.com/wordpress/techbiz/service-details/">Service Details</a></li>
</ul>
</li><svg style="margin-left: -10;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
  </svg>
<li id="menu-item-94" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-94"><a href="https://themeforest.vecuro.com/wordpress/techbiz/blog/">Blog</a>
<ul style="background-color: white;" class="sub-menu">
<li id="menu-item-104" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-104"><a href="https://themeforest.vecuro.com/wordpress/techbiz/blog/">Blog</a></li>
<li id="menu-item-103" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-103"><a href="https://themeforest.vecuro.com/wordpress/techbiz/richard-mcclintock-a-latin-scholar-from/">Blog Details</a></li>
</ul>
</li><svg style="margin-left: -10;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
  </svg>
<li id="menu-item-105" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-105"><a href="#">Pages</a>
<ul style="background-color: white;" class="sub-menu">
<li id="menu-item-90" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-90"><a href="https://themeforest.vecuro.com/wordpress/techbiz/projects/">Projects</a></li>
<li id="menu-item-89" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-89"><a href="https://themeforest.vecuro.com/wordpress/techbiz/project-details/">Project Details</a></li>
<li id="menu-item-92" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-92"><a href="https://themeforest.vecuro.com/wordpress/techbiz/team/">Team</a></li>
<li id="menu-item-91" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-91"><a href="https://themeforest.vecuro.com/wordpress/techbiz/team-details/">Team Details</a></li>
<li id="menu-item-116" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116"><a href="https://themeforest.vecuro.com/wordpress/techbiz/pricing-plan/">Pricing Plan</a></li>
<li id="menu-item-118" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-118"><a href="https://themeforest.vecuro.com/wordpress/techbiz/404">404 Page</a></li>
</ul>
</li><svg style="margin-left: -10;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
  </svg>
<li id="menu-item-88" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-88"><a href="https://themeforest.vecuro.com/wordpress/techbiz/contact-us/">Contact Us</a></li>
</ul></nav>		</div>
</div>
<div class="elementor-element elementor-element-c1ca74b elementor-widget elementor-widget-techbizmobilemenu" data-id="c1ca74b" data-element_type="widget" data-widget_type="techbizmobilemenu.default">
<div class="elementor-widget-container">
<button class="vs-menu-toggle d-inline-block d-lg-none"><i class="fal fa-bars"></i></button><div class="vs-menu-wrapper"><div class="vs-menu-area text-center"><button class="vs-menu-toggle"><i class="fal fa-times"></i></button><div class="mobile-logo"><a href="https://themeforest.vecuro.com/wordpress/techbiz/"><img src="https://themeforest.vecuro.com/wordpress/techbiz/wp-content/uploads/2022/09/logo5.svg" alt="logo5"  /></a></div><div class="vs-mobile-menu"><ul id="menu-mobile-menu" class=""><li id="menu-item-131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-61 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-131"><a href="https://themeforest.vecuro.com/wordpress/techbiz/" aria-current="page">Home</a>
<ul style="background-color: white;" class="sub-menu">
<li id="menu-item-132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-61 current_page_item menu-item-132"><a href="https://themeforest.vecuro.com/wordpress/techbiz/" aria-current="page">Home One</a></li>
<li id="menu-item-133" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-133"><a href="https://themeforest.vecuro.com/wordpress/techbiz/home-two/">Home Two</a></li>
<li id="menu-item-134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134"><a href="https://themeforest.vecuro.com/wordpress/techbiz/home-three/">Home Three</a></li>
</ul>
</li><svg style="margin-left: -10;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
  </svg>
<li id="menu-item-135" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135"><a href="https://themeforest.vecuro.com/wordpress/techbiz/about-us/">About Us</a></li>
<li id="menu-item-136" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-136"><a href="https://themeforest.vecuro.com/wordpress/techbiz/service/">Service</a>
<ul class="sub-menu">
<li id="menu-item-137" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-137"><a href="https://themeforest.vecuro.com/wordpress/techbiz/service/">Service</a></li>
<li id="menu-item-138" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-138"><a href="https://themeforest.vecuro.com/wordpress/techbiz/service-details/">Service Details</a></li>
</ul>
</li>
<li id="menu-item-139" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-139"><a href="https://themeforest.vecuro.com/wordpress/techbiz/blog/">Blog</a>
<ul class="sub-menu">
<li id="menu-item-140" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-140"><a href="https://themeforest.vecuro.com/wordpress/techbiz/blog/">Blog</a></li>
<li id="menu-item-141" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-141"><a href="https://themeforest.vecuro.com/wordpress/techbiz/richard-mcclintock-a-latin-scholar-from/">Blog Details</a></li>
</ul>
</li>
<li id="menu-item-142" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-142"><a href="#">Pages</a>
<ul class="sub-menu">
<li id="menu-item-151" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-151"><a href="https://themeforest.vecuro.com/wordpress/techbiz/pricing-plan/">Pricing Plan</a></li>
<li id="menu-item-153" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-153"><a href="https://themeforest.vecuro.com/wordpress/techbiz/projects/">Projects</a></li>
<li id="menu-item-154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-154"><a href="https://themeforest.vecuro.com/wordpress/techbiz/project-details/">Project Details</a></li>
<li id="menu-item-155" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-155"><a href="https://themeforest.vecuro.com/wordpress/techbiz/team/">Team</a></li>
<li id="menu-item-156" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-156"><a href="https://themeforest.vecuro.com/wordpress/techbiz/team-details/">Team Details</a></li>
<li id="menu-item-160" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-160"><a href="https://themeforest.vecuro.com/wordpress/techbiz/404">404 Page</a></li>
</ul>
</li>
<li id="menu-item-161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-161"><a href="https://themeforest.vecuro.com/wordpress/techbiz/contact-us/">Contact Us</a></li>
</ul></div></div></div>		</div>
</div>
    </div>
</div>
</div>
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-be0e421" data-id="be0e421" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-df59ed4 elementor-widget-mobile__width-auto elementor-widget__width-auto elementor-widget elementor-widget-techbizsearch" data-id="df59ed4" data-element_type="widget" data-widget_type="techbizsearch.default">
<div class="elementor-widget-container">
<form action="https://themeforest.vecuro.com/wordpress/techbiz" class="header-search"><input name="s" type="text" placeholder="Search Here..."><button type="submit" aria-label="search-button">
    
    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="40" fill="currentColor" class="bi bi-search m-" viewBox="0 0 16 16">
    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg>

</button></form>		</div>
</div>
    </div>
</div>
</div>
            </div>
</div>
</section>
    </div>
</div>
</div>
            </div>
</div>
</section>
                </div>
</div>
</div>
</header>