<footer>
<section class="elementor-section elementor-inner-section elementor-element elementor-element-e39f67f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="e39f67f" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-row">
<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-a69a99a" data-id="a69a99a" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-3d8e32a elementor-widget elementor-widget-text-editor" data-id="3d8e32a" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
            <div class="elementor-text-editor elementor-clearfix">
<p class="copyright-text">Copyright <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-c-circle" viewBox="0 0 16 16">
    <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512Z"/>
  </svg> 2022 <a class="text-white" href="https://themeforest.vecuro.com/wordpress/techbiz/">TechBiz</a>. All rights reserved by <a class="text-white" href="https://themeforest.net/user/vecuro_themes">Vecuro</a>.</p>					</div>
    </div>
</div>
    </div>
</div>
</div>
            </div>
</div>
</section>
</footer>