svg{
margin-bottom: 3px;
}

footer{
    background-color: rgb(11, 32, 72);
    color:#8A99B4 ;
    padding: 29px 0px;
    text-align: center;
    
}

a{
    text-decoration: none;
}

p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-family: "Fira Sans Condensed";
    margin: 0px 0px 18px;

}
